{% extends "base.html" %}
{% set active_page = "stats" %}

{% block content %}
    <div class="content-container">
        <span class="stats-title">Overwatch</span>
        <div class="stats-grid-container">
            <div class="stats-grid-item">
                {% for name in ow_role_names %}
                    {{ name }}<br>
                {% endfor %}
                <br>
            </div>
            <div class="stats-grid-item">
                {% for sr in ow_role_srs %}
                    {{ sr }}<br>
                {% endfor %}
            </div>
            <div class="stats-grid-item">
                {% for name in ow_hero_names %}
                    {{ name }}<br>
                {% endfor %}
            </div>
            <div class="stats-grid-item">
                {% for time in ow_hero_times %}
                    {{ time }}<br>
                {% endfor %}
            </div>
        </div>
        <span class="stats-update-time">Updated: {{ ow_update_time }}</span>
    </div>
    <div class="content-container" style="margin-left:20px;">
        <span style="text-align: center" class="stats-title">Smite</span>
        <div class="stats-grid-container">
            <div class="stats-grid-item">
                Level<br>
                Playtime<br>
                Matches<br>
                Win/Loss<br>
                KDA<br>
            </div>
            <div class="stats-grid-item">
                {{ smite_level }}<br>
                {{ smite_playtime }}<br>
                {{ smite_matches_played }}<br>
                {{ smite_win_loss }}<br>
                {{ smite_kda }}<br>
            </div>
        </div>
        <span class="stats-update-time">Updated: {{ smite_update_time }}</span>
    </div>
{% endblock %}